<!DOCTYPE html>
<html>
	<head>
		<title >Random</title>
		<script type="text/javascript" src="vue.js"></script>
		<style type="text/css">
			b { 
   				color: #FFFFFF; 
   			}
   			h1 { 
   				color: red; 
   			}
			body {
				background-color: #000000;
	    		text-align: center;
			}
			.center-cropped {
				width: 100px;
				height: 100px;
				background-position: center center;
				background-repeat: no-repeat;
			}
		</style>
	</head>



	<div id="object">
		<div v-for="a in numbers">
			<b>{{a}}</b>
		</div>
		<!-- <li v-for="n in numbers">{{ n }}</li> -->
		<p></p>
		<p></p>
		<h1>Min: {{min}}</h1>
		<p></p>
		<input type="number" v-on:input="inputNumber">
		<button v-on:click="addNumber">Add Number</button> 
	</div>


	<script type="text/javascript">
		new Vue({
			el:"#object",
			data:{
				min:100000000,
				number:0,
				numbers:[]
			},
			methods:{
				inputNumber : function(e){
					this.number=Number(e.target.value);
				},
				addNumber : function(e){
					this.min = this.minFuntion(this.min,this.number);
					this.numbers.push(this.number);
				},
				minFuntion: function(a,b){
					if(a>b)return b;
					else return a;
				},
			}
		})
	</script>
</html>